footer {
  @extend %section;
  background: $teal;

  h2 {
    font-size: 5.4rem;
    margin: 0;
    .link {
      font-size: 80%;
      display: block;
      text-decoration: none;
      padding: .3em 0 0 1em;
      color: $black;
      font-family: 'Montserrat Alternates', sans-serif;
    }
  }

  @media screen and (max-width: 1439px) {
    h2 {
      font-size: 4.6rem;
    }
  }
  @media screen and (max-width: 1023px) {
    h2 {
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 763px) {
    h2 {
      font-size: 3.4rem;
    }
  }
  @media screen and (max-width: 424px) {
    h2 {
      .link {
        font-size: 50%;
      }
    }
  }
}

