@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Playfair+Display:400,400i,700,700i|Ubuntu:300,400,700&display=swap');
@import '../node_modules/normalize-scss/sass/normalize/import-now';

$blue: #3AA9FF;
$purple: #AE44FF;

$gradient: linear-gradient(-60deg, $purple 20%, $blue 100%);

%circles {
  background: url(../assets/mcm.svg), $gradient;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  background: black;
  background: linear-gradient(-60deg, black 0%, black 50%, #222 50%, #222 100%);
  background-attachment: fixed;
  color: #eee;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
}

header {
  display: grid;
  place-content: center;
  grid-template: 60vh 1fr 10vh / 1fr;
  height: 100vh;
  @extend %circles;
  @media screen and (min-width: 600px) {
    grid-template: 40vh 1fr 10vh / 1fr;
  }
}

h1 {
  display: grid;
  place-content: center;
  margin: 0;
  .logo {
    display: flex;
    place-content: center;
    margin-bottom: 7vw;
  }
  svg {
    width: 12vw;
    height: 12vw;
    vertical-align: middle;
    path {
      fill: white;
    }
  }
  .name {
    display: grid;
    place-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 3.5vw;
    font-size: 8vw;
    font-weight: 300;
    line-height: 1;
    color: white;
  }
  .title {
    display: grid;
    place-content: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 8vw;
    padding: 0 5vw;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    text-align: center;
  }
  @media screen and (min-width: 600px) {
    .logo {
      margin-bottom: 4vw;
    }
    svg {
      width: 9vw;
      height: 9vw;
    }
    .name {
      margin-left: 3vw;
      font-size: 5vw;
    }
    .title {
      font-size: 5vw;
      padding: 0 22vw;
    }
  }
  @media screen and (min-width: 900px) {
    .logo {
      margin-bottom: 1.5vw;
    }
    svg {
      width: 5vw;
      height: 5vw;
    }
    .name {
      margin-left: 1.5vw;
      font-size: 3.5vw;
    }
    .title {
      font-size: 3vw;
      padding: 0;
    }
  }
}

.tagline {
  display: grid;
  place-content: center;
  font-family: 'Fredoka One', sans-serif;
  font-size: 9vw;
  line-height: 1.1;
  text-align: center;
  color: white;
  mix-blend-mode: overlay;
  text-transform: lowercase;
  text-shadow: 2vw 2vw 0.1rem rgba(0,0,0,.1);
  @media screen and (min-width: 600px) {
    font-size: 8vw;
    text-shadow: 1.6vw 1.6vw 0 rgba(0,0,0,.1);
  }
  @media screen and (min-width: 900px) {
    font-size: 7vw;
  }
}

.arrow {
  display: grid;
  place-content: center;
  .arrow-img {
    width: auto;
    height: 3rem;
    path {
      fill: rgba(255,255,255,.3);
    }
  }
}

#about {
  width: 100%;
  padding: 8rem 0;
  > div {
    width: 900px;
    max-width: 90%;
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    p {
      margin: 0;
    }
    p:first-child {
      font-size: 2rem;
    }
    @media screen and (min-width: 600px) {
      grid-template: auto auto / 1fr 1fr;
      p:first-child {
        grid-area: 1 / 1 / 2 / 3;
        max-width: 75%;
      }
    }
  }
}

.skills {
  display: block;
  @extend %circles;
  padding: 8rem 3rem;
  ul {
    width: 1400px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    @media screen and (min-width: 600px) {
      gap: 3rem;
      grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    }
    li {
      padding: 0;
      font-family: 'Fredoka One', sans-serif;
      font-size: 1.8rem;
      line-height: 1.1;
      color: white;
      mix-blend-mode: overlay;
      @media screen and (min-width: 600px) {
        font-size: 1.9rem;
      }
      @media screen and (min-width: 900px) {
        font-size: 2.3rem;
      }
      @media screen and (min-width: 1100px) {
        font-size: 2.7rem;
      }
    }
  }
}

.portfolio {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8rem 3rem;
    > div {
      padding: 0 3rem;
    }
    .desc {
      .desc-text {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
      }
      h2 {
        font-family: 'Fredoka One', sans-serif;
        font-weight: 400;
        line-height: 1.2;
        font-size: 2.6rem;
        margin: 0 0 2rem 0;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .link {
        display: block;
        margin: 1.5rem 0;
        font-family: 'Playfair Display', sans-serif;
        font-size: 2rem;
        line-height: 1.1;
        color: white;
        text-decoration: none;
        transition: transform .2s;
        transform-origin: center left;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .screenshot {
      .screenshot-imgs {
        width: 100%;
        max-width: 500px;
        margin-bottom: 1rem;
        margin-right: auto;
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr;
        gap: 2rem;
      }
      a {
        &:first-child {
          grid-area: 1 / 1 / 2 / 4;
        }
      }
      img {
        width: 100%;
        height: auto;
        box-shadow: .75rem .75rem 0 0 rgba(255,255,255,.2);
        @media screen and (min-width: 900px) {
          box-shadow: 1rem 1rem 0 0 rgba(255,255,255,.2);
        }
      }
    }
    &:nth-child(even) {
      .desc {
        order: 2;
        .desc-text {
          margin-left: 0;
          margin-right: auto;
        }
      }
      .screenshot {
        order: 1;
        .screenshot-imgs {
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
    @media screen and (max-width: 899px) {
      grid-template-columns: 1fr;
      &,
      &:nth-child(even) {
        .desc {
          order: 1;
          .desc-text {
            margin-left: auto;
            margin-right: auto;
          }
        }
        .screenshot {
          order: 2;
          .screenshot-imgs {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .screenshot .lightbox {
      display: none;
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      overflow-x: auto;
      &::before {
        content: '\00d7';
        font-family: 'Fredoka One', sans-serif;
        font-weight: 400;
        background: rgba(255,255,255,.7);
        color: black;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: .5rem;
        font-size: 2.4rem;
        line-height: 2.8rem;
        right: 2rem;
      }
      img {
        width: auto;
        height: auto;
        max-width: calc(100% - 6rem);
        margin-top: 5rem;
        margin-bottom: 5rem;
        box-shadow: 0 0 0 1rem rgba(255,255,255,.5);
      }
      &:target {
        outline: none;
        display: block;
      }
    }
  }
}

.tags {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 .6rem 1rem 0;
    padding: .5rem 1.5rem;
    background: linear-gradient(-60deg, $purple 20%, $blue 100%);
    border-radius: 1.8rem;
    color: white;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    font-weight: 400;
    box-shadow: .4rem .4rem 0 0 rgba(255,255,255,.2);
  }
}

footer {
  display: block;
  @extend %circles;
  padding: 8rem 0;
  > div {
    width: 900px;
    max-width: 90%;
    display: grid;
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 2rem 0;
    color: white;
    mix-blend-mode: overlay;
    text-transform: lowercase;
    text-shadow: .5rem .5rem 0.1rem rgba(0,0,0,.1);
  }
  .cont {
    display: inline-block;
    margin: 0 auto;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.6rem;
    letter-spacing: .1rem;
    font-weight: 400;
    text-decoration: none;
    transition: transform .2s;
    &:hover {
      transform: scale(1.05);
    }
  }
  ul {
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      a {
        display: flex;
        align-items: center;
        margin: 1rem 2rem;
        text-decoration: none;
        transition: transform .2s;
        color: black;
        &:hover {
          transform: scale(1.05);
        }
        svg {
          margin-right: 1rem;
          width: 3rem;
          height: 3rem;
        }
        span {
          font-size: 2rem;
        }
      }
    }
  }
}