---
layout: default
---

<section class="postWrapper">
  <article class="post">
    <header>
      <h2 class="postTitle">
        {{ title }}
      </h2>
      <p class="postDescription">{{ description }}</p>
    </header>
    <main class="postContent">
      {{ content | safe}}
      </main>
  </article>
</section>

<a href="/thingamajigs" class="link">&larr; More Thingamajigs</a>