---
layout: post
title: Analog Clock
date: 2021-04-30
description: Fully animated clock built in only CSS.
tags: code
---

<p class="codepen" data-height="510" data-theme-id="dark" data-default-tab="result" data-slug-hash="rNjEMOW" data-preview="true" data-user="BlueCaret" style="height: 510px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/BlueCaret/pen/rNjEMOW">
  CSS Analog Clock</a> by BlueCaret (<a href="https://codepen.io/BlueCaret">@BlueCaret</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>