---
layout: post
title: CSS is awesome
date: 2022-02-11
description: Let's take the infamous CSS meme and turn it around.
tags: thingamajigs
---

<p class="codepen" data-height="500" data-theme-id="dark" data-default-tab="result" data-slug-hash="eYeRRmm" data-preview="true" data-user="BlueCaret" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/BlueCaret/pen/eYeRRmm">
  CSS isn't awesome; CSS IS EPIC</a> by BlueCaret (<a href="https://codepen.io/BlueCaret">@BlueCaret</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>