---
layout: post
title: Responsive grid of squares
date: 2016-04-14
description: It's a bunch of squares, in a grid, that keeps it's shape while scaling to the viewport size.
tags: code
---

<p>This was originally created as a test for a game board that was never completed.</p>

<p class="codepen" data-height="400" data-theme-id="dark" data-default-tab="result" data-slug-hash="mPxvbx" data-preview="true" data-user="BlueCaret" style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/BlueCaret/pen/mPxvbx">
  Responsive Grid of Squares</a> by BlueCaret (<a href="https://codepen.io/BlueCaret">@BlueCaret</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>