---
layout: default
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---
<div>
  <h1>Page not found</h1>
  <a href="/">Go home</a>
</div>
