---
layout: default
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---

<h1>404 Error.<br />I have no idea what you are looking for but it isn't here...</h1>
<p>
  <a href="/" class="jLink">Check out the homepage</a><br />
  <a href="/portfolio" class="jLink">View my portfolio</a><br />
  <a href="/thingamajigs" class="jLink">Take a look at some thingamajigs</a>
</p>
