---
layout: default
title: Hello world
htmlClass: html
bodyClass: body
---

<header class="jHeader">
  <h1 class="jHeading">
    <div>Hello, my name is</div>
    <div>John W</div>
    <div>Hancock</div>
  </h1>

  <p class="jIntro">I'm a Front-End Developer with UI/UX expertise with an emphasis on CSS and design. I work to delight users of all capabilities with intuitive interfaces they actually want to use.</p>
</header>

<ul class="jStart">
  <li><a href="/portfolio">Skills and work</a></li>
  <li><a href="/thingamajigs">Coding for fun</a></li>
</ul>